@page "/workouts"
@using LiftBuddy.Models

<RadzenDialog />
<RadzenNotification />

<h1>Workouts</h1>

@if (loadFailed)
{
    <h1>ERROR</h1>
    <h3>@exception.Message</h3>
    <p>@exception.StackTrace</p>
}
else if (workouts == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <RadzenButton Icon="add_circle_outline" style="margin-bottom: 10px" Text="Log Workout" Click="@Create" ButtonStyle="ButtonStyle.Info" />
    <RadzenGrid @ref="grid" AllowFiltering="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" FilterMode="FilterMode.Advanced"
                AllowPaging="true" PageSize="10" AllowSorting="true" Data="@workouts" TItem="Workout">
        <Columns>
            <RadzenGridColumn TItem="Workout" Property="Id" Title="Id"/>
            <RadzenGridColumn TItem="Workout" Property="PerformedAt" Title="Performed At"/>
            <RadzenGridColumn TItem="Workout" Property="Duration" Title="Duration"/>
            <RadzenGridColumn TItem="Workout" Title="Exercises" Sortable="false" Filterable="true">
                <Template Context="data">
                    @if (data.Exercises?.Any() ?? false)
                    {
                        <ol>
                            @foreach (var exercise in data.Exercises)
                            {
                                <li>@exercise.Name</li>
                            }
                        </ol>   
                    }
                </Template>
            </RadzenGridColumn>
            <RadzenGridColumn TItem="Workout" Title="Actions" Sortable="false" Filterable="false">
                <Template Context="data">
                    <RadzenButton Icon="mode_edit" style="margin-bottom: 10px" Click="@(_ => Edit(data.Id))" ButtonStyle="ButtonStyle.Secondary"/>
                    <RadzenButton Icon="delete" style="margin-bottom: 10px" Click="@(_ => Delete(data.Id))" ButtonStyle="ButtonStyle.Danger"/>
                </Template>
            </RadzenGridColumn>
        </Columns>
    </RadzenGrid>
}