@model IList<LiftBuddy.Models.User>
@{
    ViewData["Title"] = "Users Page";
}

<table class="table">
    <thead>
    <tr>
        <th>Id</th>
        <th>Username</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var user in Model)
    {
        <tr>
            <td>@user.Id</td>
            <td>@user.Username</td>
            <td>@user.Email</td>
            <td>@user.PhoneNumber</td>
            <td>
                <button type="button" class="btn btn-primary" onclick="location.href='@Url.Action("Edit", "User", new { id = user.Id })'">
                    <i class="fa fa-pencil"></i> Edit
                </button>
                &nbsp; &nbsp;
                <button type="button" class="btn btn-danger" onclick="location.href='@Url.Action("Delete", "User", new { id = user.Id })'">
                    <i class="fa fa-trash"></i> Delete
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>

<button type="button" class="btn btn-success" onclick="location.href='@Url.Action("Create", "User")'">Create User</button>